<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/createUser.js"></script>
<title>ユーザー新規登録画面</title>
</head>
<body>
	<p>ユーザー新規登録</p>
	<div class="form-body">
		<form id="form" th:action="@{/users/create}" th:object="${form}" method="POST">
			<div class="form-row">
				<label for="login_id">ログインID</label>
				<input type="text" name="login_id" th:field="*{login_id}" />
				<div class="feedback-area"></div>
				<span class="invalid-feedback" th:if="${#fields.hasErrors('*{login_id}')}" th:errors="*{login_id}"></span>
				<span class="invalid-feedback" th:if="${#fields.hasErrors('loginIdErrorMessage')}" th:errors="*{loginIdErrorMessage}"></span>
			</div>
			<div class="form-row">
				<label for="name">名称</label>
				<input type="text" name="name" th:field="*{name}" id="alert-name"/>
				<div class="feedback-area"></div>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></div>
			</div>
			<div class="form-row">
				<label for="rawPassword">パスワード</label>
				<input type="password" name="rawPassword" th:field="*{rawPassword}" />
				<div class="feedback-area"></div>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></div>
			</div>
			<div class="form-row">
				<label for="confirmationPassword">パスワード(確認用)</label>
				<input type="password" name="confirmationPassword" th:field="*{confirmationPassword}" />
				<div class="feedback-area"></div>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('confirmationPassword')}" th:errors="*{confirmationPassword}"></div>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></div>
				<div class="invalid-feedback" id="error" ></div>
			</div>
			<div class="form-row">
				<label for="branch">支店</label>
				<select class="branch" th:field="*{branch_id}">
	            	<option value="">---</option>
	          		<option th:each="branch : ${branches}" th:value="${branch.branch_id}" th:text="${branch.branch_name}">
	            </select>
	            <div class="feedback-area"></div>
	            <div class="invalid-feedback" th:if="${#fields.hasErrors('branch_id')}" th:errors="*{branch_id}"></div>
			</div>
			<div class="form-row">
				<label for="position">部署</label>
				<select class="position" th:field="*{position_id}">
	                <option value="">---</option>
	            	<option th:each="position : ${positions}" th:value="${position.position_id}" th:text="${position.position_name}">
	            </select>
	            <div class="feedback-area"></div>
	            <div class="invalid-feedback" th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}"></div>
			</div>
			<input type="submit" value="登録">
			<a class="cancel" href="/users">戻る</a>
		</form>
	</div>
</body>
</html>