<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/editUser.js"></script>
<title>ユーザー編集</title>
</head>
<body>
<div id="container">
	<h1>ユーザー編集</h1>
	<div class="form-body">
		<form th:action="@{'/users/update/' + ${id}}" th:object="${form}" method="POST">
			<div>
				<label for="login_id">ログインID</label>
				<input type="text" name="login_id" th:field="*{login_id}" />
				<p class="alert" th:if="${#fields.hasErrors('login_id')}" th:errors="*{login_id}"></p>
				<p class="alert" th:if="${#fields.hasErrors('loginIdErrorMessage')}" th:errors="*{loginIdErrorMessage}"></p>
			</div>
			<div>
				<label for="name">名称</label>
				<input type="text" name="name"th:field="*{name}" />
				<p class="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			</div>
			<div>
				<label for="rawPassword">パスワード</label>
				<input type="password" name="rawPassword" th:field="*{rawPassword}" />
				<p class="alert" th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></p>
			</div>
			<div>
				<label for="confirmationPassword">パスワード(確認用)</label>
				<input type="password" name="confirmationPassword" th:field="*{confirmationPassword}" />
				<p class="alert" th:if="${#fields.hasErrors('confirmationPassword')}" th:errors="*{confirmationPassword}"></p>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></div>
				<div class="invalid-feedback" id="error" ></div>
			</div>
			<div>
				<label for="branch">支店</label>
				<select class="branch" name="branch_id" th:field="*{branch_id}">
	            	<option value="">---</option>
	          		<option th:each="branch : ${branches}" th:value="${branch.branch_id}" th:text="${branch.branch_name}">
	            </select>
	            <p class="alert" th:if="${#fields.hasErrors('branch_id')}" th:errors="*{branch_id}"></p>
			</div>
			<div>
				<label for="position">部署</label>
				<select class="position" name="position_id" th:field="*{position_id}">
	                <option value="">---</option>
	            	<option th:each="position : ${positions}" th:value="${position.position_id}" th:text="${position.position_name}">
	            </select>
	            <p class="alert" th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}"></p>
			</div>
			<input type="submit" value="登録">
			<a class="cancel" href="/users">戻る</a>
		</form>
	</div>
</div>
</body>
</html>