<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/indexUser.js"></script>
<title>ホーム画面</title>
</head>
<body>
	<p>ユーザー登録情報一覧</p>
	<!-- リンク先を指定 -->
	<div class="right-ctrl-area">
		<a href="/users/create">新規登録</a>
	</div>
	<table>
		<tr>
          <th></th>
          <th>ログインID</th>
          <th>氏名</th>
          <th>支店</th>
          <th>部署</th>
          <th>状態</th>
      	</tr>
		<!-- userをループ処理 -->
		<tr th:each="user: ${users}">
			<!-- フィールドを出力 -->
			<td>
            	<a th:href="@{'/users/edit/' + ${user.id}}">
                	<button type="button">編集</button>
                </a>
            </td>
			<td th:text="${user.login_id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.branch_name}"></td>
			<td th:text="${user.position_name}"></td>
			<td>
				<div class="badge" th:text="${user.status==1}? '稼働中' : '停止中'"></div>
                <div class="badge button-container">
                    <div class="badge-button stopp-button " th:if="${user.status==1}">
                        <button id="btnStop" data-toggle="modal" data-target="#activateModal" data-status="1" th:attr="data-user_id=${user.id}">
                            停止
                        </button>
                    </div>
                    <div class="badge-button status-button" th:unless="${user.status==1}">
                    	<button id="btnRestart" data-toggle="modal" data-target="#activateModal" data-status="0" th:attr="data-user_id=${user.id}">
                        	復活
                        </button>
                    </div>
                 </div>
			</td>
		</tr>
	</table>
</body>
</html>